.root {
    -fx-background-image: url("../image/stars.jpg");
}

.button_view {
    -fx-font-size: 30px;
    -fx-font-family: 'Lucida Console';
    -fx-pref-height: 30;
    -fx-pref-width: 300px;
    -fx-background-color: transparent;
    -fx-padding: 10px, 10px;
    -fx-color: white;
    -fx-font-weight: bolder;
}

.button_view:hover {
    -fx-translate-y: 3;
    -fx-underline: true;
}

